<!DOCTYPE HTML>
<html>
<head>
    <title>NAVER CAMPUS HACKDAY</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<h1>다양한 컨텐츠 저장소와 연동되는 블로그 엔진</h1>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th class="table-title" scope="col">제목</th>
        <th scope="col">내용</th>
    </tr>
    </thead>
    <tbody>
    {{#each evernotes}}
        <tr>
            <td class="table-title">{{title}}</td>
            <td class="table-content">{{content}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<hr>
<footer>
    Sungon Lee, <a href="https://github.com/so3500">https://github.com/so3500</a>
</footer>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/showdown.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>